[user]
    name = Vladyslav Siriniok
    email = siriniok@gmail.com

[github]
    user = siriniok

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    pager = less -MXR

[alias]
    # List files ignored by .gitignore and friends
    show-ignored = "! git clean -ndX | perl -pe 's/Would remove/Ignored:/'"
    wtf     = !$ZSH/bin/git-wtf

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = cyan
    frag = yellow reverse
    old = red
    new = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
